.description {
  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 220px;
  @media (max-width: 500px) {
    padding-bottom: 100px;
  }
  .description__title {
    max-width: 780px;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 58px;
    text-transform: uppercase;
    color: $color-main;
    margin-top: 100px;
    margin-bottom: 80px;
    word-wrap: break-word;
    @media (max-width: 500px) {
      margin-top: 50px;
      font-size: 2.5rem;
      line-height: 48px;
    }
  }
  span {
    color: #000;
  }
  .description__content {
    &-text {
      font-style: normal;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
    }
    &-list {
      margin-bottom: 80px;
      li {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #000000;
        &::before {
          content:  "—";
          left: -15px;
        }
      }
    }
  }
  .description__buttnos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .button {
      width: 183px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all ease-in-out .2s;
      @media (max-width: 405px) {
        width: 100%;
      }
    }
    .button__order {
      background-color: $color-main;
      color: #fff;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      &:hover {
        background-color: #fff;
        border: 1px solid $color-main;
        color: $color-main;
        -webkit-box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
      }
      	// animation 1
				position: relative;
				overflow: hidden;
				&::after {
					content: "";
					display: block;
					width: 3px;
					height: 250px;
					margin-left: 50px;
					background: #fff;
					background: linear-gradient(
							to bottom,
							rgba(255, 255, 255, 0.5) 0%,
							rgba(255, 255, 255, 1) 50%,
							rgba(255, 255, 255, 0.5) 100%
					);
					left: -40px;
					top: -100px;
					z-index: 1;
					transform: rotate(45deg);
					position: absolute;
					animation: animation1 3s ease-in-out 0.3s infinite;
				}
				@keyframes animation1 {
					0% {
						left: -30px;
						margin-left: 0px;
					}
					30% {
						left: 110%;
						margin-left: 80px;
					}
					100% {
						left: 110%;
						margin-left: 80px;
					}
				}
    }
    .button__more {
      color: #000;
      background: #FFFFFF;
      border: 1px solid #6F6D7B;
      border-radius: 4px;
      &:hover {
        background-color: $mainColor;
        color: #fff;
        -webkit-box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.2);
      }
      	// animation 2
				position: relative;
				overflow: hidden;
				&::after {
					content: "";
					display: block;
					width: 3px;
					height: 250px;
					margin-left: 50px;
					background: $color-main;
					// background: linear-gradient(
					// 		to bottom,
					// 		rgba(255, 255, 255, 0.5) 0%,
					// 		rgba(255, 255, 255, 1) 50%,
					// 		rgba(255, 255, 255, 0.5) 100%
					// );
					right: -40px;
					top: -100px;
					z-index: 1;
					transform: rotate(45deg);
					position: absolute;
					animation: animation2 3s ease-in-out 0.3s infinite;
				}
				@keyframes animation2 {
					0% {
						right: -30px;
						margin-right: 0px;
					}
					30% {
						right: 110%;
						margin-right: 80px;
					}
					100% {
						right: 110%;
						margin-right: 80px;
					}
				}
    }
  }
}