.order {
  padding-top: 120px;
  padding-bottom: 150px;
  background-image: url("../img/bg-map.png");
  background-repeat: no-repeat;
  background-color: #272733;
  @media (max-width: 700px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .order__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .order__title {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 43px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 30px;
      word-wrap: break-word;
    }
    .title__hightlight {
      @include span-highlight;
    }
    .order__description {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #BBBBBB;
      margin-bottom: 80px;
    }
    .order__bullets {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 30px;
      margin-bottom: 80px;
      flex-wrap: wrap;
      position: relative;
      .dots {
        display: flex;
        gap: 20px;
        position: absolute;
        .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #C4C4C4;
        }
      }
      .dots-1 {
        top: 55px;
        left: 15%;
        @media (max-width: 1199px) {
         left: 18%; 
        }
        @media (max-width: 959px) {
          left: 27%;
        }
        @media (max-width: 719px) {
          left: 40%;
        }
        @media (max-width: 479px) {
          display: none;
        }
      }
      .dots-2 {
        top: 55px;
        left: 35%;
        @media (max-width: 1199px) {
          left: 45%; 
        }
        @media (max-width: 959px) {
          left: 62%;
        }
        @media (max-width: 719px) {
          top: 45%;
          left: 40%;
        }
        @media (max-width: 479px) {
          display: none;
        }
      }
      .dots-3 {
        top: 55px;
        left: 56%;
        @media (max-width: 1199px) {
          left: 70%; 
        }
        @media (max-width: 959px) {
          top: 70%;
          left: 35%;
        }
        @media (max-width: 720px) {
          display: none;
        }
      }
      .dots-4 {
        top: 55px;
        left: 76%;
        @media (max-width: 1199px) and (min-width: 960px) {
          display: none;
        }
        @media (max-width: 959px) {
          top: 70%;
          left: 50%;
        }
        @media (max-width: 720px) {
          display: none;
        }
      }
      .bullet {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex: 1 1 210px;
        &__pic {
          width: 100px;
          height: 100px;
          background-color: $color-main;
          border: 5px solid #286690;
          border-radius: 50%;
          margin-bottom: 20px;
          position: relative;
          transition: all ease-in-out .2s;

          &:hover {
            transition: all .8s ease-in-out;
            transform: rotate(360deg);
          }


          &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &__content {
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }
    }
    .sending {
      width: 100%;
      .form__submit {
        input {
          width: 100%;
          background-color: rgba(255, 255, 255, 0.85);
          border: 1px solid #FFFFFF;
          border-radius: 3px;
          padding: 12px 10px;
            &::placeholder {
              color: #272733;
              font-style: normal;
              font-weight: 400;
              font-size: 1.1rem;
              line-height: 22px;
          }
        }
        select {
          width: 100%;
        }
        .simplebar-scrollbar::before {
          background-color: $color-main;
        }
        .form__grid {
          display: grid;
          grid-template-areas:
            "select email name"
            "range range file"
            ". submit .";
            grid-template-columns: 1fr 1fr .9fr;
          grid-gap: 2rem;
          @media (max-width: 890px) {
            grid-template-areas: 
              "select select select"
              "email email email"
              "name name name"
              "range range file"
              "submit submit submit";
          }
          @media (max-width: 750px) {
            grid-template-areas: 
              "select select select"
              "email email email"
              "name name name"
              "range range range"
              "file file file"
              "submit submit submit";
          }
        }
          .form__select { 
            grid-area: select; 
          }
          .form__email { 
            grid-area: email;
          }
          .form__name { 
            grid-area: name; 
          }
          .form__range {
            grid-area: range;
            .range__wrapper {
              display: flex;
              flex-direction: column;
              .range__content {
                color: #fff;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
              }
              .noUi-connect {
                background-color: rgba(255, 255, 255, 0.7);
              }
              .noUi-handle {
                border-radius: 50%;
                background: #42A9ED;
                border: 3px solid #286690;
                width: 24px;
                height: 24px;
                top: -10px;
                cursor: pointer;
              }
              .noUi-handle:before,
              .noUi-handle:after {
                content: "";
                display: block;
                position: absolute;
                height: 0px;
                width: 1px;
                background: #e8e7e6;
                left: 14px;
                top: 6px;
              }
              .noUi-horizontal {
                height: 8px;
                border: 1px solid #FFFFFF;
              }
            }
          }
          .form__file {
            background-color: #fff;
            grid-area: file; 
            width: 100%;
            position: relative;
            margin: 15px 0;
            text-align: center;
            border: 2px solid #3E9CDC;
            border-radius: 3px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin: 0;
            cursor: pointer;
            .input__file {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              cursor: pointer;
            }
            .form__file-button-text {
              margin-left: 10px;
              color: #272733;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
        .form__submit {
          grid-area: submit;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .form__send {
            margin-top: 40px;
            background-color: #3E9CDC;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            color: #fff;
            text-transform: uppercase;
            padding-top: 18px;
            padding-bottom: 18px;
            gap: 10px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            &:hover {
              color: #3E9CDC;
              background-color: #fff;
              box-shadow: 0 0 1em .05em #6FBFD8,
                     0 0 4em 2em #6FBFD8,
                     inset 0 0 .05em .05em #6FBFD8;
            }
            @media (max-width: 890px) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}